/* @font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf);
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather Bold";
    src: url(../fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf);
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather Light";
    src: url(../fonts/Merriweather_Sans/static/MerriweatherSans-Light.ttf);
    font-weight:lighter;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather Semi Bold";
    src: url(../fonts/Merriweather_Sans/static/MerriweatherSans-SemiBold.ttf);
    font-weight:normal;
    font-style: normal;
}

html, body {
    font-family: 'Merriweather Light', sans-serif;
    font-size:14px;
}
h1,h2,h3{
    font-family: 'Merriweather Bold', sans-serif !important;
}
h4,h5,h6{
    font-family: 'Merriweather Semi Bold', sans-serif !important;
} */
footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
}
.card-body {
    margin-bottom: 50px;
}